<html>
<head>
	<title>$title</title>
</head>
<body>

<div style="width: 600px;">
$body
</div>

<p>
<div style="width: 600px;">
<a href="$activationlink">$activationlinklabel</a>
</div>

<p>
<div style="width: 600px;">
<b>$useridlabel:</b><br />
<span>$user.email</span><br/>
<b>$passwordlabel:</b><br />
<span>$user.password</span>
</div>


</body>
</html>