#set( $paramsList = [$changeEmailUri])
#set( $params = $paramsList.toArray())
$messageSource.getMessage("selfservice.email.changeemail.text.message.line1", $params, $locale)
$messageSource.getMessage("selfservice.email.changeemail.text.message.line2", $params, $locale)
$messageSource.getMessage("selfservice.email.changeemail.text.message.line3", $params, $locale)
