<html>
<head>
	<title>$title</title>
</head>
<body>

<div style="width: 600px;">
$body
</div>

<p>

<div style="width: 600px;">
<span>$passwordlabel:</span><br />
<span>$user.password</span>
</div>

<p>

<div style="width: 600px;">
<a href="$loginlink">$loginlinklabel</a>
</div>

</body>
</html>