#set( $paramsList = [$resetPasswordUri])
#set( $params = $paramsList.toArray())
$messageSource.getMessage("selfservice.email.resetpassword.text.message.line1", $params, $locale)
$messageSource.getMessage("selfservice.email.resetpassword.text.message.line2", $params, $locale)
$messageSource.getMessage("selfservice.email.resetpassword.text.message.line3", $params, $locale)
