#set( $param0 = "<a href='" + $esc.html($resetPasswordUri) + "'>" + $messageSource.getMessage("selfservice.email.resetpassword.html.message.link.label", null, $locale) + "</a>" )
#set( $paramsList = [$param0])
#set( $params = $paramsList.toArray())
<html>
	<body>
		<div style="width: 600px;">
			<p>$messageSource.getMessage("selfservice.email.resetpassword.html.message.line1", $params, $locale)</p>
			<p>$messageSource.getMessage("selfservice.email.resetpassword.html.message.line2", $params, $locale)</p>
			<p>$messageSource.getMessage("selfservice.email.resetpassword.html.message.line3", $params, $locale)</p>
		</div>
	</body>
</html>
