<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- No output -->
	<appender name="NULL" class="org.apache.log4j.varia.NullAppender"/>

    <!--  Broker Logger -->
    <appender name="IDM" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="c:/Program Files/Apache Software Foundation/Tomcat 6.0/logs/idm-admin.log" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] &lt;%t&gt; (%C{1}.%M:%L) - %m%n"/>
        </layout>       
    </appender>
  
	<!-- Core classes -->
	<category name="org.ccci.gcx.idm.web.admin">
	    <priority value="trace"/>
	    <appender-ref ref="IDM"/>
	</category>
	<category name="org.ccci.gcx.idm.common">
	    <priority value="debug"/>
	    <appender-ref ref="IDM"/>
	</category>
	<category name="org.ccci.gcx.idm.core">
	    <priority value="trace"/>
	    <appender-ref ref="IDM"/>
	</category>
	
	<!-- Spring Framework -->
	<category name="org.springframework">
	    <priority value="error"/>
	    <appender-ref ref="IDM"/>
	</category>
	
	<!-- Hibernate -->
	<category name="org.hibernate">
	    <priority value="error"/>
	    <appender-ref ref="IDM"/>
	</category>
	
	<!-- Struts -->
	<category name="org.apache.struts2">
	    <priority value="error"/>
	    <appender-ref ref="IDM"/>
	</category>
	
	<!-- Xwork -->
	<category name="com.opensymphony.xwork2">
	    <priority value="error"/>
	    <appender-ref ref="IDM"/>
	</category>
	
	<!-- Velocity -->
	<category name="org.apache.velocity">
	    <priority value="error"/>
	    <appender-ref ref="IDM"/>
	</category>
	
    <!--- Turn off Root -->
    <root>
   		<appender-ref ref="NULL"/>
    </root>
        
</log4j:configuration>
