<html>
<head>
	<title>$title</title>
</head>
<body>

<div style="width: 600px;">
$body
</div>

<p>
<div style="width: 600px;">
<a href="$activationlink">$activationlinklabel</a>
</div>

<p>
<div style="width: 600px;">
<b>$useridlabel:</b> 
$user.email<br/>
<b>$passwordlabel:</b>
$user.password
</div>


</body>
</html>