<?xml version="1.0" encoding="UTF-8"?>
<web-app id="idmadmin" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>IDM Admin</display-name>


	<!-- 
	 ! The Spring RequestContextFilter is required in order to have session scoped beans.
	 ! Order is important as well. This should come before the Struts filter.
	  -->    
    <filter>
    	<filter-name>springFilter</filter-name>
    	<filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>springFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--
	 ! Struts2 dispatcher. 
	  -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

	<!-- 
	 ! Spring Integration
	  -->

	<!--
	 ! Define the application context for use with Spring. To emulate the way the
	 ! ApplicationContext class works (where it picks up all context XML files),
	 ! the following servlet context parameters must be used. Be careful not to
	 ! deploy the TEST-*.xml context files, because it won't work the way you
	 ! would expect.
	  -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.ccci.gcx.idm.common.spring2.XmlWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:contexts/*.xml</param-value>
	</context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!--
     ! Tiles Integration 
      -->
    
    <listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
</web-app>
