div.relay_button>a.relay_button_link {
	display: inline-block;
	height: 20px;
	color: #FFF;
	padding: 0px;
	cursor: pointer;
}

div.relay_button>a.relay_button_link:hover {
	text-decoration: none;
}

div.relay_button>a.relay_button_link>span {
	background: repeat-x url("images/logo_relay-center.png");
	padding: 13px 2px 6px 4px;
	line-height: 33px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-shadow: none;
	font-weight: 100;
	position: relative;
	top: 0px;
}

div.relay_button>a.relay_button_link>span:before {
	content: url("images/logo_relay-left.png");
	position: relative;
	float: left;
	top: -4px;
}

div.relay_button>a.relay_button_link>span:after {
	content: url("images/logo_relay-right.png");
	position: relative;
	float: right;
	top: -4px;
}
