<html>
<head>
	<title>$title</title>
</head>
<body>

<div style="width: 600px;">
$body
</div>

<p>

<div style="width: 600px;">
$passwordlabel: $user.password
</div>

<p>

<div style="width: 600px;">
<a href="$loginlink">$loginlinklabel</a>
</div>

</body>
</html>