*.css        text
*.java       text
*.js         text
*.jsp        text
*.properties text
*.vm         text
*.xml        text

src/main/webapp/META-INF/MANIFEST.MF text
src/main/webapp/WEB-INF/classes/cache.ccf text
